{{ #. }}
<div class="champion-panel panel {{ team }}" data-name="{{ champ.name }}">


	<img class="portrait btn" src="{{ champ.image.src }}" alt="{{ champ.name }}" />

	<div class="summoner-spells col-xs-1">
		<img class="spell passive btn" src="{{ champ.passive.image.src }}"
			 alt="{{ champ.passive.name }}" data-type="passive" />
	</div>

	{{ resetIndex }}
	<div class="champ-spells col-xs-5">
		{{ #champ.spells }}
		{{!--TODO: hover / click--}}
		<img class="champion-spell spell btn" src="{{ image.src }}" alt="{{name}}" data-index-1="{{ index }}" data-type="ability"/>
		{{ /champ.spells }}
		{{ resetIndex }}
	</div>


	{{!--(champSelect)--}}

	<div class="panel-control btn close" >X</div>

</div>
{{ /. }}
