<div >
	Feel free to submit comments and bugreports.
	<form onsubmit="return false" id="feedback-form">
		<label for="mail">E-Mail</label>
		<input type="text" name="mail" id="mail" />
		<label for="message">Your Feedback</label>
		<textarea name="message" id="message" cols="30" rows="10"></textarea>
		<button type="submit" id="submit-feedback">submit</button>
		<div id="response"></div>
</form>
</div>