<div id="match-participants">
	<div class="team blue col-xs-5">
		{{#blue}}
			<img src="{{champ.imgSrc}}" alt="{{champ.name}}" class="portrait" />
		{{ /blue }}
	</div>
	<div id="vs" class="col-xs-2">
		<button class="btn show-team blue pull-left">show blue team</button>
		<p>VS</p>
		<button class="btn show-team purple pull-right">show purple team</button>
	</div>
	<div class="team purple col-xs-5 pull-right">
		{{ #purple }}
			<img src="{{champ.imgSrc}}" alt="{{champ.name}}" class="portrait" />
		{{ /purple }}
	</div>
</div>