<div id="match-participants">
	<div class="team blue col-xs-5">
		<div class="pull-right">{{#blue}}
		{{#champ}}
			<div title="{{name}}" class="portrait img"
				 style="background: url('{{spriteSrc}}') -{{image.x}}px -{{image.y}}px;"></div>
		{{/champ}}
		{{ /blue }}</div>
	</div>
	<div id="vs" class="col-xs-2">
		<div class="btn show-team blue pull-left col-xs-2"></div>
		<p class="col-xs-8">VS</p>
		<div class="btn show-team purple pull-right col-xs-2"></div>
	</div>
	<div class="team purple col-xs-5"><div class="pull-left">
		{{ #purple }}
				{{#champ}}
					<div title="{{name}}" class="portrait img"
						 style="background: url('{{spriteSrc}}') -{{image.x}}px -{{image.y}}px;"></div>
				{{/champ}}
		{{ /purple }}
	</div></div>
</div>