{{#summonerId}}
	<div class="app-buttons padded-top padded-right">
		<div class="btn btn-info icon"><i class="fa fa-info-circle fa-lg"></i></div>
		<div class="btn btn-cancel icon"><i class="fa fa-times fa-lg"></i></div>
	</div>
{{/summonerId}}
<div class="row padded-0">
	<div class="logo text-center padded padded-top-0"><img src="../assets/img/logo.png"
														   alt="Champ 101 - Basic Champion Knowledge" width="100" />
	</div>
</div>
<div class="row padded-0">
	<form onsubmit="return false" id="summoner-form">
		<div>
			<label for="summoner-name-input">Summoner name
				{{#summonerId }}(<strong>{{ summonerName }} | {{ server }}</strong>){{/summonerId }}
			</label>
			<br>
			<input type="text" name="summoner-name-input" id="summoner-name-input" placeholder="your summoner name"
				   can-value='summonerName' autofocus /></div>

		<div><label for="server-region-select">Region</label>
			<select name="server-region-select" id="server-region-select" can-value='server' class="browser-default">
				<option hidden>No region set!</option>
				<option style="display: block; padding: 10px;" value="BR">Brazil (BR)</option>
				<option style="display: block; padding: 10px;" value="EUNE">EU Nordic & East (EUNE)</option>
				<option style="display: block; padding: 10px;" value="EUW">EU West (EUW)</option>
				<option style="display: block; padding: 10px;" value="KR">KR</option>
				<option style="display: block; padding: 10px;" value="LAN">Latin American North (LAN)</option>
				<option style="display: block; padding: 10px;" value="LAS">Latin American South (LAS)</option>
				<option style="display: block; padding: 10px;" value="NA">North America (NA)</option>
				<option style="display: block; padding: 10px;" value="OCE">Oceania (OCE)</option>
				<option style="display: block; padding: 10px;" value="RU">Russia (RU)</option>
				<option style="display: block; padding: 10px;" value="TR">Turkey (TR)</option>
				<!--<option value="PBE">Public Beta Environment (PBE)</option>-->
			</select></div>
		<div class="padded-top-2 padded-bot">
			<button type="submit" id="btn-save-close" class="btn col-xs-6 success"><i class="fa fa-check"></i></button>
			<div id="btn-cancel" class="btn btn-cancel col-xs-6 failed"><i class="fa fa-times"></i></div>
		</div>
	</form>

	<ul class="padded-bot">
		<li><p>To receive data for your game you need to set your summoner (in-game) name and region.
			</p>
		</li>
	</ul>

	<hr class="width-100">
	<table class="hoverable">
		<thead class="no-border">
		<tr>
			<th id="dropdown-hotkeys" onclick="$('#hotkeys-rows').slideToggle(); $(this).toggleClass('collapsed')">In-Game-Hotkeys (click to show)</th>
		</tr>
		</thead>
		<tbody id="hotkeys-rows" style="display: none;" onshow="$(this).slideUp()">
		{{#hotkeys}}
			<tr onclick="location.href='overwolf://settings/hotkeys#{{id}}';" class="btn hotkey-btn">
				<td class="padded-top-half padded-bot-half"><a href="#">{{ title }}</a></td>
				<td class="padded-top-half padded-bot-half"><a href="#">{{ string }}</a></td>
			</tr>
		{{/hotkeys}}
		</tbody>
	</table>
</div>