<div class="col-sm-6">
	<ul class="padded-bot-half">
		<li><i class="fa fa-info-circle pull-left padded-right"></i>

			<p>To receive any data for your game you need to set your summoner name and the server you play on.
			</p>
		</li>
		<li><i class="fa fa-exclamation-triangle pull-left padded-right"></i>

			<p>Your summoner name is the name displayed within the game, not your account name. We will never ask you
				 about your password or account name
			</p>
		</li>
	</ul>

	<form onsubmit="return false" id="summoner-form">
		<div><label for="summoner-name-input">Summonername <br /> (ingame, not Accountname)</label>
		<br>
		<input type="text" name="summoner-name-input" id="summoner-name-input" placeholder="your summoner name"
			   can-value='summonerName' /></div>

		<div><label for="server-region-select">Region</label>
		<select name="server-region-select" id="server-region-select" can-value='server' class="browser-default">
			<option value="BR">BR</option
			<option value="EUNE">EUNE</option>
			<option value="EUW">EUW</option>
			<option value="KR">KR</option>
			<option value="LAN">LAN</option>
			<option value="LAS">LAS</option>
			<option value="NA">NA</option>
			<option value="OCE">OCE</option>
			<option value="TR">TR</option>
			<option value="RU">RU</option>
			<option value="PBE">PBE</option>
		</select></div>
		<div class="row">
			<div class="padded-bot padded-top">
				<input type="checkbox" name="hideHome" id="hideHome" can-value="hideHomeAtStart" />
				<label for="hideHome">Don't show main window at startup
					<a class="whats-this" title="{{hideHomeAtStartInfo}}" href="#">(What's this?)</a></label>
			</div>
		</div>
		<div class="padded-top">
			<button type="submit" id="btn-save-close" class="btn col-xs-6 success"><i class="fa fa-check"></i></button>
			<div id="btn-cancel" class="btn col-xs-6 failed"><i class="fa fa-times"></i></div>
		</div>
	</form>

</div>
<div class="hidden-xs col-sm-1">&nbsp;</div>
<div class="col-sm-5">
	<div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0">
		<ul>
			<li><i class="fa fa-info-circle pull-left padded-right-half"></i>

				<p>Hotkeys only work from within the game.</p>
			</li>
		</ul>
		<table class="hoverable">
			<thead>
			<tr><th>Hotkeys</th></tr>
			</thead>
			<tbody>
			{{#hotkeys}}
				<tr>
					<td><a href="overwolf://settings/hotkeys#{{id}}" title="Change hotkey"
						   class="padded-top-half padded-bot-half">{{ title }}</a></td>
					<td><a href="overwolf://settings/hotkeys#{{id}}" title="Change hotkey"
						   class="padded-top-half padded-bot-half">{{ string }}</a></td>
				</tr>
			{{/hotkeys}}
			</tbody>
		</table>
	</div>
</div>
<div class="btn-resize fa fa-rss fa-rotate-270"></div>
