<div class="row">
	<h2 class="champ-name padded-bot-0 text-center">{{name}}</h2>
	<h6 class="champ-title padded-bot text-center">{{title}}</h6>
</div>
<hr class="width-100" />
<div class="row padded-top padded-left padded-right">
	{{>templates/parts/champ-spells-overview-table.mustache}}
</div>
<hr class="width-100" />
<div class="row padded-left padded-right padded-top">
	{{#passive}}
		<h4 class="append-spell-key" data-index-1="{{number}}">{{name}}</h4>
		<p class="spell-description text-body">
			{{#tooltip}}{{{.}}}{{/tooltip}}
			{{^tooltip}}{{{description}}}{{/tooltip}}
		</p>
	{{/passive}}
</div>