<div class="row">
	{{ #videoAvailable }} <div class="col-xs-6"> {{ /videoAvailable }}
		{{ ^videoAvailable }} <div class="col-xs-12"> {{ /videoAvailable }}
			<h2 class="champ-name padded-bot-0 text-center">{{name}}</h2>
			<h6 class="champ-title padded-bot text-center">{{title}}</h6>
			{{ #videoAvailable }}
			<div id="champion-video-container" class="col-xs-6 pull-right">
			</div>
			{{ /videoAvailable }}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 padded-left padded-right line-right">
			<h4 class="text-center">Playing with {{name}}</h4>
			<hr />
			<ul class="champ-ally-tips padded-top">
				{{#allytips}}
					<li class="padded-bot text-body">{{{.}}}</li>
				{{/allytips}}
			</ul>
		</div>
		<div class="col-xs-6 padded-left padded-right line-left collapse-border-left">
			<h4 class="text-center">Playing against {{name}}</h4>
			<hr />
			<ul class="champ-enemy-tips padded-top">
				{{#enemytips}}
					<li class="padded-bot text-body">{{{.}}}</li>
				{{/enemytips}}
			</ul>
		</div>
	</div>