<div class="table">
	<div class="col-xs-6 padded-right line-right table-cell">
		<h2 class="spell-name">{{name}}</h2>

		<p class="spell-description text-vertical-center text-body">
			{{#tooltip}}{{{.}}}{{/tooltip}}
			{{^tooltip}}{{{description}}}{{/tooltip}}
		</p>
	</div>
	<div class="col-xs-6 padded-left table-cell">
		<div class="spell-values row">
			<p>Cooldown: {{cooldownBurn}}</p>

			<p>Cost: {{costBurn}} {{costType}}</p>

			<p>Range: {{rangeBurn}}</p>
		</div>
		{{ #videoAvailable }}
		<div id="spell-video-container" class="row">
		</div>
		{{ /videoAvailable }}
	</div>
</div>