<h2 class="champ-name">{{name}}</h2>
<h3 class="champ-title">{{title}}</h3>

<h4>Riot's says when playing with this Champ</h4>
<ul class="champ-ally-tips">
	{{#allytips}}
		<li>{{{.}}}</li>
	{{/allytips}}
</ul>

<h4>Riot's says when playing against this Champ</h4>
<ul class="champ-enemy-tips">
	{{#enemytips}}
		<li>{{{.}}}</li>
	{{/enemytips}}
</ul>

{{ #videoAvailable }}
<div id="champion-video-container">
</div>
{{ /videoAvailable }}

{{id}}