<video controls="" class="video-js vjs-sublime-skin"
	   poster="{{videoPosterSrc}}" preload="none"  width="348"
	   height="196" id="videoPlayer">
	{{!--spell-{{ videoId}}--}}
	{{#videoSrcMp4}}
		<source src="{{.}}" type="video/mp4">
	{{/videoSrcMp4}}
	{{#videoSrcWebm}}
		<source src="{{.}}" type="video/webm">
	{{/videoSrcWebm}}
	{{#videoSrcOgg}}
		<source src="{{.}}" type="video/ogg">
	{{/videoSrcOgg}}
</video>
<p class="user-info">To Play the video, click on the ability.</p>