<div class="col-xs-12 height-100 loading-state padded-top">
	<div class="col-xs-6 message text-center"><h3>Loading Match for <span class="summoner-name">{{summonerName}}</span></h3></div>
	<div class="col-xs-6">
		{{>templates/parts/loading-spinner.mustache}}
	</div>
</div>
<div class="col-xs-12 height-100 failed-state">
	<div class="col-xs-10 message text-center padded-top"><h3>Could not find Match for <span class="summoner-name">{{summonerName}}</span></h3></div>
	<div class="btn-settings btn icon pull-right col-xs-1 height-100"><i class="fa fa-cog fa-2x vertical-center"></i></div>
	<div class="btn-reload btn icon pull-right col-xs-1 height-100"><i class="fa fa-refresh fa-2x vertical-center"></i></div>
</div>
