<table class="spell-values-table padded-bot">
	<tbody>
	{{#cooldownBurn}} <tr> <td>Cooldown</td> <td class="text-center">{{.}}</td> </tr> {{/cooldownBurn}}
	{{#costBurn}} <tr> <td>Cost</td> <td class="text-center {{costType}}"><span>{{.}}</span></td> </tr> {{/costBurn}}
	{{#rangeBurn}} <tr> <td>Range</td> <td class="text-center">{{.}}</td> </tr> {{/rangeBurn}}
	</tbody>
</table>
