<table class="spell-values-table">
	<tbody>
	{{#cooldownBurn}} <tr> <td class="text-right text-muted">Cooldown</td> <td class="">{{.}} seconds</td> </tr> {{/cooldownBurn}}
	{{#resource}} <tr> <td class="text-right text-muted">Cost</td> <td class=" {{costType}}"><span>{{.}}</span></td> </tr> {{/resource}}
	{{#rangeBurn}} <tr class="no-border"> <td class="text-right text-muted">Range</td> <td class="">{{.}}</td> </tr> {{/rangeBurn}}
	</tbody>
</table>