<!DOCTYPE html>
<html class="drag-window-handle">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Champ 101 |  Basic League of Legends Champion Knowledge</title>


	<!--suppress HtmlUnknownAttribute -->
	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="js/feedback"
			config-path="../stealconfig.js"
			bundles-path="script-bundles"></script>
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />
</head>

<body id="feedback" class="padded">
<div id="error-msg"></div>
<div id="content" class="">
	<!-- feedback.mustache -->
</div>
</body>
</html>