<!DOCTYPE html>
<html lang="en" class="window-border-radius">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Champ 101 | Basic League of Legends Champion Knowledge</title>
	<!--TODO: Metas (title + ? )-->
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />

	<!--suppress HtmlUnknownAttribute -->
	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="js/boot"
			config-path="../stealconfig.js"
			bundles-path="script-bundles"></script>

</head>

<body id="main" class="drag-window-handle window-border-radius window-border">
<div id="content-wrapper">
	<header class="padded-top-2 padded-left-2 padded-right-2 padded-bot-half">
		<div class="app-buttons padded-top padded-right">
			<div class="btn btn-match icon"><i class="fa fa-search"></i></div>
			<div class="btn btn-settings icon"><i class="fa fa-cog fa-lg"></i></div>
			<!--<div class="btn btn-minimize icon"><i class="fa fa-minus"></i></div>-->
			<div class="btn btn-minimize icon"><i class="fa fa-times fa-lg"></i></div>
		</div>
		<div class="logo text-center padded"><img class="pull-left" src="../assets/img/logo.png"
												  alt="Champ 101 - Basic Champion Knowledge" width="100px" />

			<h2 class="padded-left padded-top-2 page-heading">Information</h2>
		</div>
	</header>

	<div id="content" class="padded-top-half">
		<h3 class="btn center-vertical padded-bot-half padded-left-2 padded-right-2 headline-muted"
			onclick="$('#general-info').slideToggle()">General Information <i
				class="fa fa-angle-down fa-lg padded-left"></i></h3>
		<ul id="general-info" style="display: none">
			<li class="padded-bot-half padded-left-2 padded-right-2"><p>When you start a new game you can access the app
																		over the handle on top of
																		your screen. It will close
																		again after you left the game</p>

			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2"><p>You can open the match window outside of games
																		through clicking &nbsp;<i
						class="btn fa fa-search btn-match"></i></p></li>
		</ul>
		<hr>
		<h3 class="btn center-vertical padded-bot-half padded-left-2 padded-right-2 headline-muted"
			onclick="$('#known-issues').slideToggle()">Known Issues <i class="fa fa-angle-down fa-lg padded-left"></i>
		</h3>
		<ul id="known-issues" style="display: none">
			<li class="padded-bot-half padded-left-2 padded-right-2"><p>No data will be available for games with
																		spectators disabled or for bots</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p>Despite our effort to work around cases of incosistency within the public datasets
				   used for the displayed information there might still be a few missing or wrong values.
				   Feel free to report those by <a href="mailto:champinfo@krispin.it" target="_blank">email</a> or open a <a href="https://github.com/Colorfulstan/champ101/issues">github-issue</a>
				   including the champion and ability for reference.</p></li>
		</ul>
		<hr>
		<ul>
			<li class="padded-top padded-bot-half padded-left-2 padded-right-2">
				<p>Feel free to give feedback at the overwolf-store or send a message to
					<a href="mailto:champinfo@krispin.it" target="_blank">champ101@krispin.it</a>.
					<br><br>
				   If you're using Github, consider opening an
					<a href="https://github.com/Colorfulstan/champ101/issues" target="_blank">issue</a>
				   for bugs and suggestions instead.
				</p></li>
		</ul>
	</div>
	<footer id="disclaimer" class="padded-2 padded-top-0">
		<p>Champ 101 – Basic Champion Knowledge isn't endorsed by Riot Games and doesn't reflect the views or opinions
		   of Riot Games or anyone
		   officially involved in producing or managing League of Legends. League of Legends and Riot Games are
		   trademarks
		   or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
	</footer>
</div>