<!DOCTYPE html>
<html lang="en" class="window-border-radius">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Champ 101 | Information</title>
	<!--TODO: Metas (title + ? )-->
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />

	<!--suppress HtmlUnknownAttribute -->
	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="js/main"
			config-path="../stealconfig.js"
			bundles-path="script-bundles"></script>
</head>

<body id="main" class="drag-window-handle window-border-radius window-border">
<div id="content-wrapper">
	<header class="padded-top-2 padded-left-2 padded-right-2 padded-bot-half">
		<div class="app-buttons padded-top padded-right">
			<div class="btn btn-exit icon"><i class="fa fa-power-off"></i></div>
			<div class="btn btn-match icon"><i class="fa fa-search"></i></div>
			<div class="btn btn-settings icon"><i class="fa fa-cog fa-lg"></i></div>
			<div class="btn btn-minimize icon"><i class="fa fa-times fa-lg"></i></div>
		</div>
		<div class="logo padded"><img class="pull-left" src="../assets/img/logo.png"
									  alt="Champ 101 - Basic Champion Knowledge" width="100px" />

			<h2 class="padded-left padded-top-half padded-bot-half page-heading">Information</h2>

			<div class="rog-logo padded-left">
				<p class="muted text-small text-center">presented by:</p>
				<a href="http://rog.asus.com/" target="_blank">
					<img src="../assets/img/rog_logo_wide.png" alt="ROG - Republic of gamers" height="30">
				</a>
			</div>
		</div>
	</header>

	<div id="content" class="padded-top-half">
		<h3 class="btn center-vertical padded-bot-half padded-left-2 padded-right-2 headline-muted"
			data-control="c101-dropdown" data-target="general-info">General Information <i
				class="fa fa-angle-down fa-lg padded-left"></i></h3>
		<ul id="general-info" style="display: none" data-c101-dropdown>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p>Champ 101 starts and minimises automatically by default</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p>After loading into a game you can access Champ 101 from the dock on top your screen</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p><i class="btn fa fa-close btn-minimize padded-top-half"></i> will not exit the app<br>
					<i class="btn fa fa-power-off btn-exit padded-top-half"></i> will shutdown the app until your next
																				game</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p><strong>Clicking on the game will hide the match!</strong><br>
						   This behaviour is neccessary for Riot Games to allow the app and prevent unfair advantages
						   through using the app.</p>
			</li>
		</ul>
		<hr>
		<h3 class="btn center-vertical padded-bot-half padded-left-2 padded-right-2 headline-muted"
			data-control="c101-dropdown" data-target="app-tutorial">App Walkthrough <i
				class="fa fa-angle-down fa-lg padded-left"></i></h3>
		<ul id="app-tutorial" data-c101-dropdown style="display: none">
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p>Set the summoner name within the settings &nbsp;<i
						class="btn fa fa-cog fa-lg btn-settings padded-top-half"></i>&nbsp; to a player who is in a game
				   (or try three dashes)</p></li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p>Open the match window by clicking &nbsp;<i
						class="btn fa fa-search padded-top-half btn-match"></i></p></li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<!-- TODO: dynamic number if this gets changed -->
				<p> Click a portrait in the match window to open a champions panel. You can open up to 6 champion panels
					for quick access</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<!-- TODO: dynamic number if this gets changed -->
				<p>Within the champion panels, click on an ability to play its video (if available)</p>
			</li>
		</ul>
		<hr>
		<h3 class="btn center-vertical padded-bot-half padded-left-2 padded-right-2 headline-muted"
			data-control="c101-dropdown" data-target="known-issues">Known Issues <i
				class="fa fa-angle-down fa-lg padded-left"></i>
		</h3>
		<ul id="known-issues" data-c101-dropdown style="display: none">
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p><strong>Incosistencies in public Data-sets:</strong><br>
					Values that we are unsure about are displayed with <span style="text-decoration: line-through">linethrough</span>.
					They might still be correct, but don't bet on it. Where you see placeholders like {{ f3 }} no value
					could be mapped at all.
					Please do not report those cases, since we collect them already.</p></li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2"><p><strong>No data will be available</strong> for games with
																		spectators disabled or for bots</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2"><p><strong>Hotkeys will not work</strong> outside of the game and
																		can not be the same for overwolf and game
																		command</p>
			</li>
			<hr>
			<li class="padded-bot-half padded-left-2 padded-right-2">
				<p>Some <strong>videos are not available</strong> in a supported format or the supported video might be out of date (for
				   champion reworks)</p>
			</li>
		</ul>
		<hr>
		<ul>
			<li class="padded-top padded-bot-half padded-left-2 padded-right-2">
				<p>Feel free to give feedback at the overwolf-store or send a message to
					<a class="email-link" href="mailto:champ101@krispin.it" target="_blank">champ101@krispin.it</a>.
					<br><br>
				   If you're using Github, consider opening an
					<a class="issues-link" href="https://github.com/Colorfulstan/champ101/issues"
					   target="_blank">issue</a>
				   for bugs and suggestions instead.
				</p></li>
		</ul>

	</div>
	<footer id="disclaimer" class="padded-2 padded-top">
		<p>Champ 101 – Basic Champion Knowledge isn't endorsed by Riot Games and doesn't reflect the views or opinions
		   of Riot Games or anyone
		   officially involved in producing or managing League of Legends. League of Legends and Riot Games are
		   trademarks
		   or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
	</footer>
</div>
</body>
</html>