<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Champ Info</title>
	<!--TODO: Metas (title + ? )-->
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />

	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="js/main"
			config-path="../stealconfig.js"></script>


</head>

<body id="main">
<div id="content" class="drag-window-handle">
	<h1>Champion Info</h1>

	<!--TODO: Texte blasülz-->
	<p>You can drag from anywhere you want</p>

	<p>When you start a new Game, the Champions will be loaded and displayed on the upper edge of your screen.</p>

	<p>Games with disabled spectators will not be able to get the neccessary Data!</p>
	<button id="btn-close">Close</button>
	<button id="btn-settings">Settings</button>
	<button id="btn-minimize">minimize</button>
</div>
<button id="btn-resize">drag to resize</button>
