<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Champions</title>
	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="../js/match/match"></script>
	<!--TODO-->
	<!--<script src="../js/Utility.js"></script>-->
	<!--<script src="../js/data/Matchloader.js"></script>-->
	<!--<script src="../js/PanelManager.js"></script>-->
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />
</head>
<body>
<div id="content">
	<div id="panel-container">
		<div id="match-overview-container" class="panel">
			<!-- contains all the champs within the game as Thumbnails -->
			<!-- match-overview.mustache -->
		</div>

		<div id="champion-container" class="col-xs-12 table">
			<!-- container to contain all the champion-panels with their spell informations -->
			<!-- match-champions.mustache -->
		</div>

		<div id="tooltip-container" class="hidden">
			<!-- for the tooltip to be shown -->
			<!-- match-tooltip.mustache -->
		</div>
	</div>
	<div id="pull-down-handle">
		<button id="btn-close">Close</button>
		<button id="btn-load">Load</button>
	</div>
</div>
<script>
	//	var ml; // TODO: migrate
	//	init();
	//	$('#load-btn').on('click', init);
	//	function init(){
	//		ml = new Matchloader(Settings.summonerId(), Settings.server());
	//		ml.loadMatch($('#match-participants'), $('#match-participants .blue'), $('#match-participants .purple'));
	//	}


</script>
</body>
</html>