{{ #. }}
<div class="champion-panel panel {{ team }}" data-name="{{ champ.name }}">


	<img class="portrait" src="{{ champ.imgSrc }}" alt="{{ champ.name }}" />

	<div class="summoner-spells col-xs-1">
		{{ #summonerSpells }}
		<img class="summoner-spell" src="{{ imgSrc }}" alt="{{ name }}" />
		{{ /summonerSpells }}

		<img class="passive" src="{{ champ.passive.imgSrc }}"
			 alt="{{ champ.passive.name }}" />
	</div>


	<div class="champ-spells col-xs-5">
	{{ #champ.spells }}
		{{!--TODO: hover / click--}}
		<img class="champion-spell" src="{{ imgSrc }}" alt="{{name}}" />
	{{ /champ.spells }}
	</div>


	{{!--(champSelect)--}}

	{{!--TODO: make it work--}}
	<div class="panel-control btn close">X</div>

</div>
{{ /. }}
