<div id="match-participants">
	<div class="team blue col-xs-5">
		{{#blue}}
			<img src="{{imgSrc}}" alt="{{name}}" class="portrait" />
		{{ /blue }}
	</div>
	<div id="vs" class="col-xs-2">VS</div>
	<div class="team purple col-xs-5 pull-right">
		{{ #purple }}
			<img src="{{imgSrc}}" alt="{{name}}" class="portrait" />
		{{ /purple }}
	</div>
</div>