<!DOCTYPE html>
<html class="window-border-radius hidden">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Champ 101 |  Basic League of Legends Champion Knowledge</title>


	<!--suppress HtmlUnknownAttribute -->
	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="js/settings"
			config-path="../stealconfig.js"
			bundles-path="script-bundles"></script>
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />
</head>

<body id="settings" class="drag-window-handle window-border window-border-radius">
<div id="content-wrapper">
<div id="content" class="">
	<!-- settings.mustache -->

</div></div>
</body>
</html>