<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>Demo app</title>


	<script type='text/javascript' src='../node_modules/steal/steal.js'
			data-env="development"
			data-main="js/settings"
			config-path="../stealconfig.js"></script>
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css" />
</head>

<body id="settings" class="padded">
<div class="drag-window-handle">
	<br />
	<br />
</div>
<div id="error-msg"></div>
<div id="content">
	<!-- settings.mustache -->
</div>
</body>
</html>