{{!--<video id="champ_ability_video_{{ability-name}}" class="video-js vjs-default-skin"--}}
	   {{!--controls preload="auto" width="640" height="264"--}}
	   {{!--poster="http://video-js.zencoder.com/oceans-clip.png"--}}
	   {{!--data-setup='{"example_option":true}'>--}}
	{{!--<source src="{{video-src-mp4}}" type="video/mp4">--}}
	{{!--<source src="{{video-src-webm}}" type="video/webm">--}}
	{{!--<source src="{{video-src-ogv}}" type="video/ogg">--}}
	{{!--<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a--}}
			{{!--href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>--}}
{{!--</video>--}}

{{!--<video id="example_video_1" class="video-js vjs-default-skin"--}}
{{!--controls preload="auto" width="640" height="264"--}}
{{!--poster="http://video-js.zencoder.com/oceans-clip.png"--}}
{{!--data-setup='{"example_option":true}'>--}}
{{!--<source src="http://cdn.leagueoflegends.com/champion-abilities/videos/mp4/0063_03.mp4" type="video/mp4">--}}
{{!--<source src="http://cdn.leagueoflegends.com/champion-abilities/videos/webm/0063_03.webm" type="video/webm">--}}
{{!--<source src="http://cdn.leagueoflegends.com/champion-abilities/videos/ogv/0063_03.ogv" type="video/ogg">--}}
{{!--<p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>--}}
{{!--</video>--}}

<video controls="" class="video-js vjs-default-skin"
	   poster="http://cdn.leagueoflegends.com/champion-abilities/images/0063_03.jpg" preload="none" width="348"
	   height="196" data-setup="{}" id="spell-pillar-of-flame">
	<source src="{{video-src-mp4}}" type="video/mp4">
	<source src="{{video-src-webm}}" type="video/webm">
	<source src="{{video-src-ogv}}" type="video/ogg">
</video>