$color-bg : rgba(6,16,19,0.9);
$color-blue: #385FC5;
$color-purple: #3C267C;
$color-lines: #eee;

$color-accent-1: #039be5;
$color-accent-2: #26a69a;

$color-font-dark: #000;
$color-font-bright: #fff;

$style-border-line-width: 1px;
$style-border-line: $style-border-line-width solid $color-lines;
$color-icons: #fff;

$color-success: rgba(0,255,0,0.5);
$color-loading: orange;
$color-failed: rgba(255,0,0,0.5);
