<table class="spell-values-table padded-bot">
	<tbody>
	{{#cooldownBurn}} <tr> <td>Cooldown</td> <td>{{.}}</td> </tr> {{/cooldownBurn}}
	{{#costBurn}} <tr class="{{costType}}"> <td>Cost</td> <td>{{.}}</td> </tr> {{/costBurn}}
	{{#rangeBurn}} <tr> <td>Range</td> <td>{{.}}</td> </tr> {{/rangeBurn}}
	</tbody>
</table>