/*
Error: File to import not found or unreadable: imports/hotkeys-spinner.
        on line 18 of main.scss

13: @import "imports/icons";
14: @import "imports/tooltip";
15: @import "imports/champions";
16: 
17: @import "imports/settings";
18: @import "imports/hotkeys-spinner";
19: 
20: @import "imports/match";
21: 
22: * {
23:   overflow: hidden;

Backtrace:
main.scss:18
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/import_node.rb:45:in `import'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/stack.rb:79:in `block in with_base'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/stack.rb:115:in `with_frame'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/stack.rb:79:in `with_base'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `each'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/exec/base.rb:52:in `parse'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/lib/sass/exec/base.rb:19:in `parse!'
C:/Tools-CLI/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.17/bin/scss:13:in `<top (required)>'
C:/Tools-CLI/Ruby22-x64/bin/scss:23:in `load'
C:/Tools-CLI/Ruby22-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: imports/hotkeys-spinner.\A         on line 18 of main.scss\A \A 13: @import \"imports/icons\";\A 14: @import \"imports/tooltip\";\A 15: @import \"imports/champions\";\A 16: \A 17: @import \"imports/settings\";\A 18: @import \"imports/hotkeys-spinner\";\A 19: \A 20: @import \"imports/match\";\A 21: \A 22: * {\A 23:   overflow: hidden;"; }
