@import "reset.css";
@import "grid_12.css";

@import "imports/fountain-spinner";

@import "helper/colors";
@import "helper/variables";
@import "helper/classes";

@import "materialize/materialize";

@import "fa/font-awesome";
@import "imports/icons";
@import "imports/tooltip";
@import "imports/champions";

@import "imports/settings";

@import "imports/match";

* {
  overflow: hidden;
  color: $color-font-bright;

  font-family: 'Roboto';
}

html {
  font-size: $font-size-base;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  padding-bottom: 0.5em;
}

h1 { font-size: 3rem; }
h2{ font-size: 2rem; }
h3{ font-size: 1.5rem; }

h4{ font-size: 1.3rem; }
h5 { font-size: 1.1rem; }
h6 { font-size: 1rem; }

hr {
  width: 80%;
  border-color: $color-lines;
}

p {
//  text-align: center;
  padding: 0 0 0 0;
  font-weight: 300;
}

body {
  &#settings, &#main, &#feedback {
    background-color: $color-bg;
  }
}

ul {
  li {
    padding-top: $spacer/2;
    line-height: 1.3rem;
    .fa {
      padding-top: 2px;
    }
  }
}

a, label {
  cursor: url('../img/cursor/hand-pointer-o_000000_20.png'),auto !important;
}

font {
  font-size: inherit !important;
}

#main {
  .app-buttons{
    position: absolute;
    top:0;
    right:0;
  }
}

footer#disclaimer {
  font-size: 0.7rem;
  position: absolute;
  bottom: 0;
  text-align: justify;
  letter-spacing: 0.4px;
  font-weight: 100;
}

.btn {
  cursor: url('../img/cursor/hand-pointer-o_000000_20.png'),auto;
  opacity: 0.8;

  &:hover, &.active{
    opacity: 1;
  }
}

.loading {
  //  background-color: $color-loading !important;

  .loading-state {
    display: block;
  }
  .failed-state{
    display: none;
  }
}

.failed {
  background-color: $color-failed !important;

  .loading-state {
    display: none;
  }
  .failed-state{
    display: block;
  }
}

.success {
  background-color: $color-success !important;
}

.whats-this {
  text-decoration: none;
}

.drag-window-handle {
  cursor: url('../img/cursor/hand-paper-o_000000_20.png'), auto;
}
.drag-window-handle:active {
  cursor: url('../img/cursor/hand-grab-o_000000_20.png'), auto;
}