@import "../helper/colors";

$color-dot-bg: $color-accent-2;
$color-end: $color-accent-2;
$color-start: $color-accent-1;
$animation-duration: 0.5s;
#fountainG {
  position: relative;
  width: 270px;
  height: 33px;
  margin: auto;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: $color-dot-bg;
  width: 33px;
  height: 33px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: $animation-duration;
  -o-animation-duration: $animation-duration;
  -ms-animation-duration: $animation-duration;
  -webkit-animation-duration: $animation-duration;
  -moz-animation-duration: $animation-duration;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 21px;
  -o-border-radius: 21px;
  -ms-border-radius: 21px;
  -webkit-border-radius: 21px;
  -moz-border-radius: 21px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.416s;
  -o-animation-delay: 0.416s;
  -ms-animation-delay: 0.416s;
  -webkit-animation-delay: 0.416s;
  -moz-animation-delay: 0.416s;
}

#fountainG_2 {
  left: 34px;
  animation-delay: 0.5225s;
  -o-animation-delay: 0.5225s;
  -ms-animation-delay: 0.5225s;
  -webkit-animation-delay: 0.5225s;
  -moz-animation-delay: 0.5225s;
}

#fountainG_3 {
  left: 68px;
  animation-delay: 0.619s;
  -o-animation-delay: 0.619s;
  -ms-animation-delay: 0.619s;
  -webkit-animation-delay: 0.619s;
  -moz-animation-delay: 0.619s;
}

#fountainG_4 {
  left: 101px;
  animation-delay: 0.7255s;
  -o-animation-delay: 0.7255s;
  -ms-animation-delay: 0.7255s;
  -webkit-animation-delay: 0.7255s;
  -moz-animation-delay: 0.7255s;
}

#fountainG_5 {
  left: 135px;
  animation-delay: 0.832s;
  -o-animation-delay: 0.832s;
  -ms-animation-delay: 0.832s;
  -webkit-animation-delay: 0.832s;
  -moz-animation-delay: 0.832s;
}

#fountainG_6 {
  left: 169px;
  animation-delay: 0.9385s;
  -o-animation-delay: 0.9385s;
  -ms-animation-delay: 0.9385s;
  -webkit-animation-delay: 0.9385s;
  -moz-animation-delay: 0.9385s;
}

#fountainG_7 {
  left: 203px;
  animation-delay: $animation-duration;
  -o-animation-delay: $animation-duration;
  -ms-animation-delay: $animation-duration;
  -webkit-animation-delay: $animation-duration;
  -moz-animation-delay: $animation-duration;
}

#fountainG_8 {
  left: 236px;
  animation-delay: 1.1415s;
  -o-animation-delay: 1.1415s;
  -ms-animation-delay: 1.1415s;
  -webkit-animation-delay: 1.1415s;
  -moz-animation-delay: 1.1415s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: $color-start;
  }

  100% {
    transform: scale(0.3);
    background-color: $color-end;
  }
}


@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: $color-start;
  }

  100% {
    -o-transform: scale(0.3);
    background-color: $color-end;
  }
}


@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: $color-start;
  }

  100% {
    -ms-transform: scale(0.3);
    background-color: $color-end;
  }
}


@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: $color-start;
  }

  100% {
    -webkit-transform: scale(0.3);
    background-color: $color-end;
  }
}


@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: $color-start;
  }

  100% {
    -moz-transform: scale(0.3);
    background-color: $color-end;
  }
}