@import "../helper/variables";
@import "../helper/colors";

#panel-container {
  height: auto;
  width: $match-window-width;
  margin: 1px auto 0;
  margin-bottom: -2px; // visual compensation for 1px at app-bar

  &:hover {
    + #match-app-bar {
      // showing the app-buttons when hovering over the match overview
      // will break if html structure is changed so fallback within #match-ap-bar

      .app-buttons {
        display: block;
      }
      #handle {
        opacity: 0.9;
      }
    } // #match-app-bar
  } // hover
}

$app-bar-height: 30px;
#match-app-bar {
  display: none;
  position: relative;
  left: 32%;
  width: 36%;
  height: $app-bar-height;

  background-color: rgba(0, 0, 0, 0.01);
  margin-top: 1px; // enables scrolling on the top edge (compensated by panel-container -1px)
  overflow: hidden;

  &:hover {
      // fallback for rule in #panel-container:hover
      //if html is changed that app-buttons still will show up
      // at least when hovering over the handle
      .app-buttons {
        display: block;
      }
      #handle {
        opacity: 0.9;
      }
    }

  &.animated-handle {
    opacity: 1 !important;
  }
  #handle {
    left: 30%;
    top: -$app-bar-height / 2;
    width: 40%;
    height: $app-bar-height;
    opacity: 0.5;
    background-color: $color-bg;
    border-radius: 100%;
    position: absolute;

    &.animated-bg {
      -webkit-animation: colorchange 2s linear infinite;
      animation: colorchange 2s linear infinite;
      opacity: 1 !important;
    }

  }
  .app-buttons {
    display: none;
    width: 120px;
    margin-top: 5px;
  }
  // .app-buttons
}

@-webkit-keyframes colorchange {

  0% {
    //    background-color: $color-bg;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
  //  30%  {
  ////    background-color: $color-accent-1;
  //    box-shadow: 0 0 25px 10px rgba(255,255,255,0.5);}
  50% {
    //    background-color: $color-accent-2;
    box-shadow: 0 0 20px 15px rgba(255, 0, 0, 1);
  }
  100% {
    //    background-color: $color-bg;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }

}

@-moz-keyframes colorchange {

  0% {
    background-color: $color-bg;
  }
  30% {
    background-color: $color-accent-1;
  }
  60% {
    background-color: $color-accent-2;
  }
  100% {
    background-color: $color-bg;
  }
}

#match-overview-container {
  height: 60px;

  .portrait {
    width: 48px;
    height: 48px;

  }
  #vs {
    background-color: $color-bg;
    overflow: hidden;
    p {
      font-size: 30px;
      text-align: center;
      //      width: 100%;
    }
    .show-team {
      z-index: 99;
      border-radius: 100%;
    }
    .purple {
      right: -17px;
      .add {
        position: relative;
        right: 7px;
      }
    }
    .blue {
      left: -17px;
      width: 37px; // NOTE: fixed width to prevent widht-jumping when adding .addable
      .add {
        position: relative;
        left: 7px;
      }
    }
  }
}

#match-participants {
  height: 100%;
  width: 100%;

  & * {
    height: 100%;
  }

  & .portrait {
    float: left;
    height: 48px;
    cursor: url('../img/cursor/hand-pointer-o_000000_20.png'), auto !important;
    /* border-right: ridge 3px white; */
    border-radius: 100%;
    margin: 5px;
  }
}

