@import "../helper/variables";

.champion-panel {
  //  display: none;
  &.stay {
    display: block;
  }
}

.open-settings {
  display: none;
}

.reload {
  display: none;
}

.loading {
  background-color: red !important;
}

.failed {
  background-color: orange !important;

  .open-settings {
    display: block;
  }
  .reload {
    display: block;
  }
}

#pull-down-handle {
  background-color: brown;
  opacity: 0.5;
  width: 100%;
  height: $spacer;
  margin-top: 1px; // enables scrolling with mouse on screen edge
  position: relative;

  #app-buttons {
    display: none;
    position: absolute;
    right: 0;
  }

  &:hover {
    opacity: 0.9;

    #app-buttons {
      display: block;
    }
  }
}

