#champion-container {
  height: auto;
  position: relative;
  padding-right: 30px;

  #close-all-btn {
    position: absolute;
    width: 30px;
    height: 100%;
    background-color: brown;
    right: 0;
    top:0;
  }
}

.champion-panel {
  height: 100px;

  & > img {
    height: 100%;
    float: left;
  }

  .summoner-spells {
    height: 100%;

    & > img {
      height: 28%;
    }

    .passive {
      width: 100%;
      height: auto;
    }
  }

  .champ-spells {
    height: 100%;
    img {
      height: 70%;
    }
  }

  .champ-select {
    height: 100%;

    .team {
      height: 45%;

      img {
        height: 100%;
        float: left;
      }
    }
  }

  .panel-control {
    height: 100%;
    width: 30px;
    background-color: black;
    float:right;

    .btn {
      width: 100%;
      height: 50%;
      color: #eee;
      text-align: center;
      padding-top: 10px;
    }
  }
}
