<video controls="" class="video-js vjs-sublime-skin"
	   poster="{{videoPosterSrc}}" preload="none" width="348"
	   height="196" id="videoPlayer">
	{{!--spell-{{ videoId}}--}}
	{{#videoSrc}}
		<source src="{{.}}" type="video/webm">
	{{/videoSrc}}
</video>
